*,
*::before,
*::after {
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "presStart";
    src: url("/assets/PressStart2P-Regular.ttf") format("truetype");
}


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: black;
    font-family: 'IBM Plex Mono', monospace;
}


.scrolling {
    scrollbar-width: thin;
}

.scrolling::-webkit-scrollbar {
    width: 0.25em;
}

.scrolling::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 1px solid black;
    border-radius: 100px;
}

h1 {
    font-family: "presStart";
}